/* Style buttons */
.btn {
    width: 85%;
    height: 20%;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    padding: 4px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

  .p2 {
    display: "inline-block"
  }

 .tableStyle  {
    display: inline-block;
    height: 40%;
    width: 40%;
    vertical-Align: bottom;
    font-Family: Helvetica;
  }

.menuStyle {
    display: inline-block;
    width: 10%;
    margin-Right: 8px;
    list-style: none;
    height: 45%;
    vertical-Align: bottom;
    min-Height: 70px;
  }

 .headerStyle {
    font-Size: 1.4vw;
    font-Family: Times;
    font-weight: bold;
    white-Space: nowrap;
    padding: 3px;
  }
  .inputStyle {
    height: 30%;
    width: 98%;
    background-Color: lightgrey;
    border: none;
    resize: none;
    font-Size: .8vw;
    overflow: hidden;
  }
  .listStyle {
      list-Style:none;
  }

  .fieldStyle {
    margin: 5px;
    background-Color: #21CC37;
    color: #333;
    font-Family: monospace;
    font-Size: 20px;
    width: 85%;
    height: 95vh;
    display: inline-block;
    background-Image: url(https://st2.depositphotos.com/2021995/9203/v/950/depositphotos_92034148-stock-illustration-realistic-vertical-football-soccer-field.jpg);
    background-Repeat: no-repeat;
    background-Size: cover;
    min-Height: 1100px;
    min-Width: 800px;
   }

   .fieldandBarStyle {
    margin: 10;
    color: #333;
    display: inline-block;
    font-Family: monospace;
    font-Size: 20px;
    width: 100%;
    height: 100vh;
    text-align: left;
   }